<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiro Flask</title>
</head>
<body>
    <h1>Olá, {{nome}}</h1>
</body>
</html>